<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../partials/stylesheet %>
        <% include ../partials/javascript %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>


            <script>
                $(document).ready(function () {

                    $.ajax({
                        url: '/polls/voteresultchart/<%= poll._id %>',
                        type: 'GET',
                        success: function (result) {
                            var ctx = document.getElementById("myChart");
                            var myChart = new Chart(ctx, {
                                type: result.type,

                                data: {
                                    labels: result.labels,
                                    datasets: [{
                                        label: '# of Votes',
                                        data: result.data,
                                        backgroundColor: result.backgroundColors,
                                        borderColor: result.borderColors,
                                        borderWidth: 1
                                    }]
                                },
                               options: {
        layout: {
            padding: {
                left: 50,
                right: 0,
                top: 0,
                bottom: 0
            }
        }
    }
                            });


                        },
                        error: function (error) {
                            alert('error occured ' + JSON.stringify(error));
                        }
                    });
                });
            </script>

</head>

<body>
    <% include ../partials/header %>


        <% if (message && message.length > 0 ) { %>
            <div class="alert alert-warning " role="alert">
                <p>
                    <%= message %>
            </div>

        <% } %>


             <div class="p-2">
            <a class="twitter-share-button" target="_blank"
                href="https://twitter.coj6u58m/intent/tweet?text=Here is a voting results for: <%= poll.name %> <%=baseUrl + 'polls/voteresult/'+ poll._id %>"
                data-size="large">
                Share voting results</a>
            </div>
               
                    <canvas id="myChart" style="position: relative; height:50vh; width:60vw" maintainAspectRatio responsive></canvas>
              


                <% include ../partials/footer %>

</body>

</html>