<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
    <% include ../partials/stylesheet %>
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script >


      
      <script>
        $(document).ready(function () {

          $("#addBtn").click(function () {
            $("#updateBtn").before(
              " <label for='pollOption' class='sr-only'>Vote Option:</label>   <input type='text' name='pollOption' class='form-control' placeholder='vote option'   >  "
            );
          });
        });
      </script>
</head>

<body>
  <% include ../partials/header %>


    <% if (message && message.length > 0 ) { %>
      <div class="alert alert-warning " role="alert">
        <p>
          <%= message %>
      </div>

      <% } %>

        <div class="container">

          <form class="form" action="/polls/<%= poll._id %>" method="post" id="pollForm">
            <h3 class="form-header">Edit poll info</h2>
            <label for="pollName" class="sr-only">Name of poll</label>
            <input type="text" name="pollName" class="form-control" required value="<%= poll.name %>">

            <ul>
              <% for (var i=0; i<poll.options.length; i++) { %>
                <li>
                  <label for="pollOption" class="sr-only">Option</label>
                  <input type="text" name="pollOption" readonly class="form-control" placeholder="poll option" required value="<%= poll.options[i].name %>">
                </li>


                <% } %>
            </ul>
            <button id="updateBtn" class="btn btn-lg btn-primary btn-block" type="submit">Update </button>
            <br>

          </form>
          <button id="addBtn" class="btn btn-lg btn-primary btn-block">Add new vote option to this poll</button>

        
        </div>
        
            

<% include ../partials/javascript %>
<% include ../partials/footer %>
</body>

</html>