<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
    <% include ../partials/javascript %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script>
        function enableVoting() {

          $('#updateBtn').attr('disabled', false);
        }
      </script>


</head>

<body>
  <% include ../partials/header %>


    <% if (message && message.length > 0 ) { %>
      <div class="alert alert-warning " role="alert">
        <p>
          <%= message %>
      </div>

      <% } %>

        <div class="container">

          <form class="form" action="/polls/vote/<%= poll._id %>" method="post" id="pollForm">
            <h2 class="">poll</h2>
            <label for="pollName" class="sr-only">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name of poll" required value="  <%= poll.name %>">

            <% for (var i=0; i<poll.options.length; i++) { %>

              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="pollOption" readonly onchange="enableVoting();" value="<%= poll.options[i].name %>">
                  <%= poll.options[i].name %>
                </label>
              </div>


              <% } %>


 



                <button id="updateBtn" title="Select option and click Vote button to vote." class="btn btn-lg btn-primary btn-block" disabled
                  type="submit">Vote! </button>

          </form>
        </div>


        <% include ../partials/footer %>

</body>

</html>